<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-pie-chart</title>
    <style>
      input {
        margin-bottom: 15px;
      }
      svg {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      Percent: <input type="range" min=-200 max=200 v-model.number=percent> {{percent}} %<br>
      Stroke width: <input type="range" min=0 max=10 step=0.1 v-model.number=width> {{width}}<br>
      Opacity: <input type="range" min=0 max=1 step=0.1 v-model.number=opacity> {{opacity}}<br>
      Label: <input v-model=label><br>
      Label small: <input v-model=labelSmall><br>
      Color: <input type="color" v-model=color><br>
      <div>
        <pie-chart
          :percent=percent
          :stroke-width=width
          :opacity=opacity
          :label=label
          :label-small=labelSmall
          :color=color
        />
      </div>
    </div>
    <script src="/dist/demo.js"></script>
  </body>
</html>
